header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #46d6fb;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;

    .logo {
        flex-grow: 1;
        display: flex;
        align-items: center;

        h3 {
            margin-left: 10px;
            color: #fff;
        }
    }
}