.page-generate {
    display: flex;
    flex-direction: column;

    .page-header {
        display: flex;
        margin-top: 100px;

        span {
            width: 96%;
        }
    }

    .field-area {
        padding-top: 40px;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;

        input {
            width: 100px;
            height: 60px;
            text-align: center;
        }
    }

    .display-box {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;

        button {
            margin: 0;
            margin-top: 10px;
        }
    }
}