.App {
  text-align: center;
}

*:focus {
  outline:none !important
}

body {
  margin: 0;
  background-color: #E8E8E8;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

section {
  display: flex;
  padding-left: 65px;
}

a {
  text-decoration: none;
}
