.page-saved {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    height: 100vh;

    .page-header {
        width: 100%;
        display: flex;
        margin-top: 60px;

        span {
            width: 96%;
        }
    }

    .table-display {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        table {
            background: white;
            border-radius: 5px;
            border: 1px solid #707070;
            padding: 10px;
            border-spacing: 0;
            min-width: 80vw;

            th, td {
                text-align: center;
                min-width: 60px;
                max-width: 700px;
                border-bottom: 1px solid #707070;
                padding-left: 8px;
                padding-right: 8px;
            }

            tr:last-child td {
                border: 0;
            }

            th {
                padding-top: 5px;
                padding-bottom: 5px;
                color: black;
            }

            td {
                font-size: 14px;
            }
        }
    }
}